/* Stilet për faqen e përgjithshme */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.wrapper {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    word-wrap: break-word;
}

/* Titulli */
h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 30px;
}

/* Butoni "Shtyp këtu" */
.kanale button {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.kanale button:hover {
    background-color: #0056b3;
}

/* Linket M3U që shfaqen kur klikohet Butoni */
.m3u-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m3u-links a {
    display: block;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #007bff;
    margin-bottom: 10px;
    width: 80%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.m3u-links a:hover {
    background-color: #007bff;
    color: white;
}

/* Responsivitet për celularët */
@media (max-width: 600px) {
    .wrapper {
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    .kanale button {
        font-size: 1.2em;
    }

    .m3u-links a {
        width: 90%;
    }
}
